POSTGRES_USER=test
POSTGRES_PASSWORD=test
POSTGRES_DB=test
YANDEX_MUSIC_TOKEN=y0__xDzkebQBRje-AYghbPu_RYw0ImQmwheg4ogK_NcRmENC1NjL-saVyuyRA
RESERVATION_MANAGER_ADDRESS=https://rms.gabrusenas.dev/
RESERVATION_MANAGER_TOKEN=f50c3ffc-8c14-4818-b1d6-cdda39aae787
ADMIN_LOGIN=admin
ADMIN_PASSWORD=MySecurePassword123!
JWT_KEY=ThisIsAVeryLongSecretKeyForJWT_Minimum32Characters!
JWT_ISSUER=MyApi
JWT_AUDIENCE=MyApi
